<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dept </title>
    <style>
        th
        {
            text-align: center;
        }
        td
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <center>
        <h1>Dept table</h1>
        <table border="2px">
           <tr>
               <th>pk</th>
               <th>dept_no</th>
               <th>dname</th>
               <th>loc</th>
           </tr>
            {% for i in dept %}
             <tr>
                <td>{{i.pk}}</td>
                <td>{{i.dept_no}}</td>
                <td>{{i.dname}}</td>
                <td>{{i.dloc}}</td>
             </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>